---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Amit Singh{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %} A budding developer in the field of computer science, who aspires to be leading developer.{% endif %}</p>
          <p class="author_subtitle">Hey,
Currently working as Sr. Data Scientist at Bajaj Finserv.Also worked with valorant cosulting, Envirya projects and Cube Wealth as a software Engineer. <br>I have done my B.Tech in computer science and Engineering from Guru Gobind Singh Indraprastha University. 
<br>I completed the Data Analyst and Data Scientist Nanodegree from Udacity.<br>I have experience in python, c++, java, node, git, SQL, MongoDB, Redis, flask, Kafka, backend development, NLP, Data Analysis, CI/CD, docker, system design,oops,DSA.
<br>I like to read book in field of management, bussiness, banking, technology. Apart from reading my favourite hobbies are to spend time in gym, blogging, running.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
